.App {
  background-image: url('../public/bliss.png') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional - this will make the background fixed as the content scrolls */
  width: 100%;
  height: 100vh;
  
  
}


.taskBar{
  background-color: #3571f3;
  background: linear-gradient(to bottom, #2051bb, #3571f3);
  height: 5vh;
  width: 100vw;
  position: absolute; /* Position the taskbar absolutely within the .App container */
  bottom: 0;
  border-radius: 5px;
}

.startButton{
  background-color: #33b84d;
  background: linear-gradient(to bottom, #33b84d, #43dd62);
  width: 8vw;
  height: 5vh;
  border-radius: 5px;
}